<main>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="text-white mt-0 ">Eventos</h2>
                    <hr class="divider light my-4" />
                </div>
            </div>
        </div>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-4">
    <!-- ---------------------------------------- -->
                <!-- tarjeta 1 -->
                <div class="col">
                    <div class="card shadow-sm">
                        <div>
                            <img class="card-img-top"
                            src="./assets/img/eventos/2014/a (1).png" width="600" height="600" alt="s">
                        </div>
                        <div class="card-body">
                            <h5 class="text-center">Año 2014</h5>
                            <p class="card-text">Comunidad El Abra-Navidad</p>
                            <div class="d-flex justify-content-between">
                                <div class="btn-group">
                                    <button href="#modal1" data-bs-toggle="modal" type="button"
                                        class="btn btn-sm boton">Más imágenes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                 <!-- tarjeta 2 -->
                 <div class="col">
                    <div class="card shadow-sm">
                        <div>
                            <img class="card-img-top"
                            src="./assets/img/eventos/2016/g (1).jpeg" width="600" height="600" alt="s">
                        </div>
                        <div class="card-body">
                            <h5 class="text-center">Año 2016</h5>
                            <p class="card-text">Comunidad El Abra-Navidad</p>
                            <div class="d-flex justify-content-between">
                                <div class="btn-group">
                                    <button href="#modal2" data-bs-toggle="modal" type="button"
                                        class="btn btn-sm boton">Más imágenes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                 <!-- tarjeta 3 -->
                 <div class="col">
                    <div class="card shadow-sm">
                        <div>
                            <img class="card-img-top"
                            src="./assets/img/eventos/2018/1-nav.jpeg" width="600" height="600" alt="s">
                        </div>
                        <div class="card-body">
                            <h5 class="text-center">Año 2018</h5>
                            <p class="card-text">Comunidad El Abra-Navidad</p>
                            <div class="d-flex justify-content-between">
                                <div class="btn-group">
                                    <button href="#modal3" data-bs-toggle="modal" type="button"
                                        class="btn btn-sm boton">Más imágenes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                 <!-- tarjeta 4 -->
                 <div class="col">
                    <div class="card shadow-sm">
                        <div>
                            <img class="card-img-top"
                            src="./assets/img/eventos/2018-ni/2018 (3).jpeg" width="600" height="600" alt="s">
                        </div>
                        <div class="card-body">
                            <h5 class="text-center">Año 2018</h5>
                            <p class="card-text">Comunidad El Abra-Día del Niño</p>
                            <div class="d-flex justify-content-between">
                                <div class="btn-group">
                                    <button href="#modal4" data-bs-toggle="modal" type="button"
                                        class="btn btn-sm boton">Más imágenes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                 <!-- tarjeta 5 -->
                 <div class="col">
                    <div class="card shadow-sm">
                        <div>
                            <img class="card-img-top"
                            src="./assets/img/eventos/2019-ni/2019 (1).jpeg" width="600" height="600" alt="s">
                        </div>
                        <div class="card-body">
                            <h5 class="text-center">Año 2019</h5>
                            <p class="card-text">Comunidad El Abra-Día del Niño</p>
                            <div class="d-flex justify-content-between">
                                <div class="btn-group">
                                    <button href="#modal5" data-bs-toggle="modal" type="button"
                                        class="btn btn-sm boton">Más imágenes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                 <!-- tarjeta 6 -->
                 <div class="col">
                    <div class="card shadow-sm">
                        <div>
                            <img class="card-img-top"
                            src="./assets/img/eventos/2019-na/2019-nv (1).jpeg" width="600" height="600" alt="s">
                        </div>
                        <div class="card-body">
                            <h5 class="text-center">Año 2019</h5>
                            <p class="card-text">Comunidad El Abra-Navidad</p>
                            <div class="d-flex justify-content-between">
                                <div class="btn-group">
                                    <button href="#modal6" data-bs-toggle="modal" type="button"
                                        class="btn btn-sm boton">Más imágenes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                 <!-- tarjeta 7 -->
                 <div class="col">
                    <div class="card shadow-sm">
                        <div>
                            <img class="card-img-top"
                            src="./assets/img/eventos/2020-na/2020 (1).jpeg" width="600" height="600" alt="s">
                        </div>
                        <div class="card-body">
                            <h5 class="text-center">Año 2020</h5>
                            <p class="card-text">Comunidad El Abra-Navidad</p>
                            <div class="d-flex justify-content-between">
                                <div class="btn-group">
                                    <button href="#modal7" data-bs-toggle="modal" type="button"
                                        class="btn btn-sm boton">Más imágenes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                 <!-- tarjeta 8 -->
                 <div class="col">
                    <div class="card shadow-sm">
                        <div>
                            <img class="card-img-top"
                            src="./assets/img/eventos/2020-ar/arm (1).jpeg" width="600" height="600" alt="s">
                        </div>
                        <div class="card-body">
                            <h5 class="text-center">Año 2020</h5>
                            <p class="card-text">Barrio La Armenia</p>
                            <div class="d-flex justify-content-between">
                                <div class="btn-group">
                                    <button href="#modal8" data-bs-toggle="modal" type="button"
                                        class="btn btn-sm boton">Más imágenes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                 <!-- tarjeta 9 -->
                 <div class="col">
                    <div class="card shadow-sm">
                        <div>
                            <img class="card-img-top"
                            src="./assets/img/eventos/vi/ot (1).jpeg" width="600" height="600" alt="s">
                        </div>
                        <div class="card-body">
                            <h5 class="text-center">Octubre 2020</h5>
                            <p class="card-text">Entrega de Víveres a familias de la Comunidad El Abra</p>
                            <div class="d-flex justify-content-between">
                                <div class="btn-group">
                                    <button href="#modal9" data-bs-toggle="modal" type="button"
                                        class="btn btn-sm boton">Más imágenes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                 <!-- tarjeta 10 -->
                 <div class="col">
                    <div class="card shadow-sm">
                        <div>
                            <img class="card-img-top"
                            src="./assets/img/eventos/al/al (1).jpeg" width="600" height="600" alt="s">
                        </div>
                        <div class="card-body">
                            <h5 class="text-center">Trabajo Comunitario</h5>
                            <p class="card-text">Entrega de Almuerzos</p>
                            <div class="d-flex justify-content-between">
                                <div class="btn-group">
                                    <button href="#modal10" data-bs-toggle="modal" type="button"
                                        class="btn btn-sm boton">Más imágenes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    
</main>

                <!-- modal 1 -->
        <div class="portfolio-modal modal" id="modal1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="container">
                        <h5 class="text-center">Año 2014 Comunidad El Abra - Navidad
                        </h5>
                            </div>
                            <!-- carrousel  -->
                            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                  <div class="carousel-item active">
                                    <img src="assets/img/eventos/2014/a (1).jpeg" class="d-block w-100" alt="...">
                                  </div>
                                  <div class="carousel-item">
                                    <img src="assets/img/eventos/2014/a (2).jpeg" class="d-block w-100" alt="...">
                                  </div>
                                  <div class="carousel-item">
                                    <img src="assets/img/eventos/2014/a (3).jpeg" class="d-block w-100" alt="...">
                                  </div>
                                  <div class="carousel-item">
                                    <img src="assets/img/eventos/2014/a (4).jpeg" class="d-block w-100" alt="...">
                                  </div>
                                  <div class="carousel-item">
                                    <img src="assets/img/eventos/2014/a (5).jpeg" class="d-block w-100" alt="...">
                                  </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                </button>
                              </div>
                              <button class="btn btn-primary text-center" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-times me-1"></i>
                                Cerrar
                            </button>
                        </div>
                    </div>
                </div>
                <!-- --------- -->

                <!-- modal 2 -->
                <div class="portfolio-modal modal" id="modal2">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="container">
                                <h5 class="text-center">Año 2016 Comunidad El Abra - Navidad
                                </h5>
                                    </div>
                                    <!-- carrousel  -->
                                    <div id="carouselExampleIndicators1" class="carousel slide" data-bs-ride="carousel">
                                        <div class="carousel-inner">
                                          <div class="carousel-item active">
                                            <img src="assets/img/eventos/2016/g (1).jpeg" class="d-block w-100">
                                          </div>
                                          <div class="carousel-item">
                                            <img src="assets/img/eventos/2016/g (2).jpeg" class="d-block w-100">
                                          </div>
                                          <div class="carousel-item">
                                            <img src="assets/img/eventos/2016/g (3).jpeg" class="d-block w-100">
                                          </div>
                                          <div class="carousel-item">
                                            <img src="assets/img/eventos/2016/g (4).jpeg" class="d-block w-100">
                                          </div>
                                          <div class="carousel-item">
                                            <img src="assets/img/eventos/2016/g (5).jpeg" class="d-block w-100" alt="...">
                                          </div>
                                        </div>
                                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide="prev">
                                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        </button>
                                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide="next">
                                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        </button>
                                      </div>
                                      <button class="btn btn-primary text-center" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-times me-1"></i>
                                        Cerrar
                                    </button>
                                </div>
                            </div>
                        </div>
                <!-- --------- -->

                <!-- modal 3 -->
        <div class="portfolio-modal modal" id="modal3">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="container">
                        <h5 class="text-center">Año 2018 Comunidad El Abra - Navidad
                        </h5>
                            </div>
                            <!-- carrousel  -->
                            <div id="carouselExampleIndicators2" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                  <div class="carousel-item active">
                                    <img src="assets/img/eventos/2018/1-nav.jpeg" class="d-block w-100" alt="...">
                                  </div>
                                  <div class="carousel-item">
                                    <img src="assets/img/eventos/2018/2-nav.jpeg" class="d-block w-100" alt="...">
                                  </div>
                                  <div class="carousel-item">
                                    <img src="assets/img/eventos/2018/3-nav.jpeg" class="d-block w-100" alt="...">
                                  </div>
                                  <div class="carousel-item">
                                    <img src="assets/img/eventos/2018/4-nav.jpeg" class="d-block w-100" alt="...">
                                  </div>
                                  <div class="carousel-item">
                                    <img src="assets/img/eventos/2018/5-nav.jpeg" class="d-block w-100" alt="...">
                                  </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="prev">
                                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="next">
                                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                </button>
                              </div>
                              <button class="btn btn-primary text-center" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-times me-1"></i>
                                Cerrar
                            </button>
                        </div>
                    </div>
                </div>
                <!-- --------- -->

                <!-- modal 4 -->
        <div class="portfolio-modal modal" id="modal4">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="container">
                        <h5 class="text-center">Año 2018 Día del Niño
                        </h5>
                            </div>
                            <!-- carrousel  -->
                            <div id="carouselExampleIndicators3" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                  <div class="carousel-item active">
                                    <img src="assets/img/eventos/2018-ni/2018 (1).jpeg" class="d-block w-100" alt="...">
                                  </div>
                                  <div class="carousel-item">
                                    <img src="assets/img/eventos/2018-ni/2018 (2).jpeg" class="d-block w-100" alt="...">
                                  </div>
                                  <div class="carousel-item">
                                    <img src="assets/img/eventos/2018-ni/2018 (3).jpeg" class="d-block w-100" alt="...">
                                  </div>
                                  <div class="carousel-item">
                                    <img src="assets/img/eventos/2018-ni/2018 (4).jpeg" class="d-block w-100" alt="...">
                                  </div>
                                  <div class="carousel-item">
                                    <img src="assets/img/eventos/2018-ni/2018 (5).jpeg" class="d-block w-100" alt="...">
                                  </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide="prev">
                                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide="next">
                                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                </button>
                              </div>
                              <button class="btn btn-primary text-center" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-times me-1"></i>
                                Cerrar
                            </button>
                        </div>
                    </div>
                </div>
                <!-- --------- -->

                <!-- modal 5 -->
        <div class="portfolio-modal modal" id="modal5">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="container">
                        <h5 class="text-center">Año 2019 Comunidad El Abra - Día del Niño
                        </h5>
                            </div>
                            <!-- carrousel  -->
                            <div id="carouselExampleIndicators4" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                  <div class="carousel-item active">
                                    <img src="assets/img/eventos/2019-ni/2019 (1).jpeg" class="d-block w-100" alt="...">
                                  </div>
                                  <div class="carousel-item">
                                    <img src="assets/img/eventos/2019-ni/2019 (2).jpeg" class="d-block w-100" alt="...">
                                  </div>
                                  <div class="carousel-item">
                                    <img src="assets/img/eventos/2019-ni/2019 (3).jpeg" class="d-block w-100" alt="...">
                                  </div>
                                  <div class="carousel-item">
                                    <img src="assets/img/eventos/2019-ni/2019 (4).jpeg" class="d-block w-100" alt="...">
                                  </div>
                                  <div class="carousel-item">
                                    <img src="assets/img/eventos/2019-ni/2019 (5).jpeg" class="d-block w-100" alt="...">
                                  </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators4" data-bs-slide="prev">
                                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators4" data-bs-slide="next">
                                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                </button>
                              </div>
                              <button class="btn btn-primary text-center" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-times me-1"></i>
                                Cerrar
                            </button>
                        </div>
                    </div>
                </div>
                <!-- --------- -->

                <!-- modal 6 -->
        <div class="portfolio-modal modal" id="modal6">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="container">
                        <h5 class="text-center">Año 2019 Comunidad El Abra - Navidad
                        </h5>
                            </div>
                            <!-- carrousel  -->
                            <div id="carouselExampleIndicators5" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                  <div class="carousel-item active">
                                    <img src="assets/img/eventos/2019-na/2019-nv (1).jpeg" class="d-block w-100" alt="...">
                                  </div>
                                  <div class="carousel-item">
                                    <img src="assets/img/eventos/2019-na/2019-nv (2).jpeg" class="d-block w-100" alt="...">
                                  </div>
                                  <div class="carousel-item">
                                    <img src="assets/img/eventos/2019-na/2019-nv (3).jpeg" class="d-block w-100" alt="...">
                                  </div>
                                  <div class="carousel-item">
                                    <img src="assets/img/eventos/2019-na/2019-nv (4).jpeg" class="d-block w-100" alt="...">
                                  </div>
                                  <div class="carousel-item">
                                    <img src="assets/img/eventos/2019-na/2019-nv (5).jpeg" class="d-block w-100" alt="...">
                                  </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators5" data-bs-slide="prev">
                                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators5" data-bs-slide="next">
                                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                </button>
                              </div>
                              <button class="btn btn-primary text-center" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-times me-1"></i>
                                Cerrar
                            </button>
                        </div>
                    </div>
                </div>
                <!-- --------- -->

               <!-- modal 7 -->
        <div class="portfolio-modal modal" id="modal7">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="container">
                        <h5 class="text-center">Año 2020 Comunidad El Abra - Navidad
                        </h5>
                            </div>
                            <!-- carrousel  -->
                            <div id="carouselExampleIndicators6" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                  <div class="carousel-item active">
                                    <img src="assets/img/eventos/2020-na/2020 (1).jpeg" class="d-block w-100" alt="...">
                                  </div>
                                  <div class="carousel-item">
                                    <img src="assets/img/eventos/2020-na/2020 (2).jpeg" class="d-block w-100" alt="...">
                                  </div>
                                  <div class="carousel-item">
                                    <img src="assets/img/eventos/2020-na/2020 (3).jpeg" class="d-block w-100" alt="...">
                                  </div>
                                  <div class="carousel-item">
                                    <img src="assets/img/eventos/2020-na/2020 (4).jpeg" class="d-block w-100" alt="...">
                                  </div>
                                  <div class="carousel-item">
                                    <img src="assets/img/eventos/2020-na/2020 (5).jpeg" class="d-block w-100" alt="...">
                                  </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators6" data-bs-slide="prev">
                                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators6" data-bs-slide="next">
                                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                </button>
                              </div>
                              <button class="btn btn-primary text-center" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-times me-1"></i>
                                Cerrar
                            </button>
                        </div>
                    </div>
                </div>
                <!-- --------- --> 

               <!-- modal 8 -->
        <div class="portfolio-modal modal" id="modal8">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="container">
                        <h5 class="text-center">Año 2020 Barrio La Armenia
                        </h5>
                            </div>
                            <!-- carrousel  -->
                            <div id="carouselExampleIndicators7" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                  <div class="carousel-item active">
                                    <img src="assets/img/eventos/2020-ar/arm (1).jpeg" class="d-block w-100" alt="...">
                                  </div>
                                  <div class="carousel-item">
                                    <img src="assets/img/eventos/2020-ar/arm (2).jpeg" class="d-block w-100" alt="...">
                                  </div>
                                  <div class="carousel-item">
                                    <img src="assets/img/eventos/2020-ar/arm (3).jpeg" class="d-block w-100" alt="...">
                                  </div>
                                  <div class="carousel-item">
                                    <img src="assets/img/eventos/2020-ar/arm (4).jpeg" class="d-block w-100" alt="...">
                                  </div>
                                  <div class="carousel-item">
                                    <img src="assets/img/eventos/2020-ar/arm (5).jpeg" class="d-block w-100" alt="...">
                                  </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators7" data-bs-slide="prev">
                                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators7" data-bs-slide="next">
                                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                </button>
                              </div>
                              <button class="btn btn-primary text-center" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-times me-1"></i>
                                Cerrar
                            </button>
                        </div>
                    </div>
                </div>
                <!-- --------- --> 

                <!-- modal 9 -->
        <div class="portfolio-modal modal" id="modal9">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="container">
                        <h5 class="text-center">Año 2020 Entrega de Víveres Comunidad El Abra 
                        </h5>
                            </div>
                            <!-- carrousel  -->
                            <div id="carouselExampleIndicators8" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                  <div class="carousel-item active">
                                    <img src="assets/img/eventos/vi/ot (1).jpeg" class="d-block w-100" alt="...">
                                  </div>
                                  <div class="carousel-item">
                                    <img src="assets/img/eventos/vi/ot (2).jpeg" class="d-block w-100" alt="...">
                                  </div>
                                  <div class="carousel-item">
                                    <img src="assets/img/eventos/vi/ot (3).jpeg" class="d-block w-100" alt="...">
                                  </div>
                                  <div class="carousel-item">
                                    <img src="assets/img/eventos/vi/ot (4).jpeg" class="d-block w-100" alt="...">
                                  </div>
                                  <div class="carousel-item">
                                    <img src="assets/img/eventos/vi/ot (5).jpeg" class="d-block w-100" alt="...">
                                  </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators8" data-bs-slide="prev">
                                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators8" data-bs-slide="next">
                                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                </button>
                              </div>
                              <button class="btn btn-primary text-center" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-times me-1"></i>
                                Cerrar
                            </button>
                        </div>
                    </div>
                </div>
                <!-- --------- -->

                <!-- modal 10 -->
        <div class="portfolio-modal modal" id="modal10">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="container">
                        <h5 class="text-center">Trabajo Comunitario - Entrega de Almuerzos
                        </h5>
                            </div>
                            <!-- carrousel  -->
                            <div id="carouselExampleIndicators9" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                  <div class="carousel-item active">
                                    <img src="assets/img/eventos/al/al (1).jpeg" class="d-block w-100" alt="...">
                                  </div>
                                  <div class="carousel-item">
                                    <img src="assets/img/eventos/al/al (12).jpeg" class="d-block w-100" alt="...">
                                  </div>
                                  <div class="carousel-item">
                                    <img src="assets/img/eventos/al/al (3).jpeg" class="d-block w-100" alt="...">
                                  </div>
                                  <div class="carousel-item">
                                    <img src="assets/img/eventos/al/al (4).jpeg" class="d-block w-100" alt="...">
                                  </div>
                                  <div class="carousel-item">
                                    <img src="assets/img/eventos/al/al (5).jpeg" class="d-block w-100" alt="...">
                                  </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators9" data-bs-slide="prev">
                                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators9" data-bs-slide="next">
                                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                </button>
                              </div>
                              <button class="btn btn-primary text-center" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-times me-1"></i>
                                Cerrar
                            </button>
                        </div>
                    </div>
                </div>
                <!-- --------- -->