.container {
    height: 100%;
    align-content: center;
}

.card {
    height: 340px;
    margin-top: auto;
    margin-bottom: auto;
    width: 370px;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.card-header h3 {
    color: #61D46E;
    text-align: center;
    font-weight: bold
}

.input-group-prepend {
    width: 40px;
    height: 40px;
    background-color: #0275D8;
    color: black;
}

.form-control {
    width: 200px;
    height: 40px;
    border: #ffffff;
}

.login_btn {
    width: 100%;
    position: center;
}

.login_btn {
    color: black;
    background-color: #0275d8;

}

.login_btn:hover {
    color: black;
    background-color: white;
}

.links {
    color: white;
}

.links a {
    margin-left: 4px;
}
