

.header .navbar {
  background-color: #0b5a9c !important;
}

.navbar-brand img {
  max-width: 11vw;
  /* find suitable value for you */
  display: block;
  width: 100%;
}

.text-top {
  float: left;
}

.nav-item .nav-link {
  //color: #F7C42D;
  font-weight: bold;
  text-align: left;
  color: white;
  letter-spacing: 0;
  font-family: monospace;
  font-size: 15px;
}

.nav-item .nav-link:hover {
  color: rgba(197, 74, 239, 0.788);
  font-size: 20px;
}

/*color del título*/

.navbar-brand {
  //color: #F7C42D;
  //-webkit-text-fill-color: #F7C42D;
  //-webkit-text-stroke: 1px black;
  text-align: center;
  color: white;
  font-size: 16px;
  text-shadow: -3px -3px 3px #a46497, 3px -3px 3px #a46497, -3px 3px 3px #a46497, 3px 3px 3px #a46497;
}


.box img {
  width: 100%;
  height: auto;
  background-color: white;
}

.nav-logo {
  width: 140px;
  height: 80px;
}

@supports(object-fit: cover) {
  .box img {
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}

@media screen and (max-width: 600px) {
  .nav-logo {
    width: 100px;
  height: 40px;
  }

  .navbar-brand {
    font-size: 9px;
  }
  .ocultar-div {
    display: none;
  }
}

@media only screen and (max-width: 400px) {
  .nav-logo {
    width: 100px;
  height: 40px;
  }
  .ocultar-div {
    display: none;
  }
  .navbar-brand {
    font-size: 9px;
  }
}


.navbar-burger {
  border: 1px solid black;
  color: white;
  background-color: white
}