<nav class="navbar navbar-expand-lg fixed-top" >

    <!-- <div class="collapse navbar-collapse flex-column " id="navbar"> -->

    <div class="container ">
        <div class="navbar-translate">
            <img src="../../../assets/img/Logo sin SDE.png" alt="logo" width="80" height="80">
            <a class="navbar-brand" [routerLink]="['/home']" style="font-size: 16px;">
     
                FUNDACIÓN SEMILLAS DE ESPERANZA

            </a>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse"
                data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a [routerLink]="['/home']" class="nav-link"><i class="nc-icon nc-image"></i>INICIO</a>
                </li>
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a [routerLink]="['/galeria']" class="nav-link"><i class="nc-icon nc-image"></i>GALERÍA</a>
                </li>
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a [routerLink]="['/blog']" class="nav-link"><i class="nc-icon nc-bold"></i> BLOG</a>
                </li>
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a [routerLink]="['/clubAmigos']" class="nav-link"><i class="nc-icon nc-credit-card"></i> CLUB
                        AMIGOS</a>
                </li>
                <!--<li class="nav-item" *ngIf="!isDocumentation()">
                     <a class="nav-link" target="_blank"><i class="nc-icon nc-credit-card"></i> DONACIONES</a>
                 </li>-- >

            <!-- </ul>
        </div>

        <div class="navbar-collapse flex-column" id="navbarToggler">
            <ul class="navbar-nav ml-auto">-->
                <li class="nav-item" *ngIf="isLogged">
                    <a [routerLink]="['/blogAdmin']" class="nav-link" data-placement="bottom"><i
                            class="nc-icon nc-bold"></i> Blog Admin</a>
                </li>
                <li class="nav-item" *ngIf="isLogged">
                    <a [routerLink]="['/ninosAdmin']" class="nav-link" data-placement="bottom"><i
                            class="nc-icon nc-satisfied"></i> Niños Admin</a>
                </li>
                <li class="nav-item" *ngIf="isLogged">
                    <a [routerLink]="['/albumAdmin']" class="nav-link" data-placement="bottom"><i
                            class="nc-icon nc-badge"></i> Álbum Admin</a>
                </li>
                <li class="nav-item" *ngIf="isLogged">
                    <a [routerLink]="['/clubAdmin']" class="nav-link" data-placement="bottom"><i
                            class="nc-icon nc-bank"></i> Club Amigos Admin</a>
                </li>
                <li class="nav-item" *ngIf="isLogged">
                    <a [routerLink]="['/patrocinadoresAdmin']" class="nav-link" data-placement="bottom"><i
                            class="nc-icon nc-tag-content"></i> Sponsor Admin</a>
                </li>
                <li class="nav-item" *ngIf="isLogged">
                    <a class="nav-link" (click)="onLogout()"><i class="nc-icon nc-simple-remove"></i> Cerrar
                        Sesión</a>
                </li>
            </ul>
        </div> 
    </div>
</nav>
