    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0 ">Blog</h2>
                <hr class="divider light my-4" />
                <p class="text-white-50 mb-10">Revisa nuestro blog</p>
            </div>
        </div>
    </div>

<div>
    <div class="container bl">
        <div class="col">

            <div class="col-md-12 col-sm-12 col-lg-12" *ngFor="let lb of blogs; index as i">
                <p-card class="title text-center box card" header="{{lb.title}}" subheader="{{lb.description}}"
                    styleClass="p-card-shadow">
                    <ng-template pTemplate="header">
                        <img alt="Card" [src]="directorioImagenes+lb.image">

                        <!-- <img [src]="directorioImagenes+alb.image" alt="Error al cargar imagen"> -->
                    </ng-template>
                    <ng-template pTemplate="footer">
                       
                    </ng-template>
                </p-card>
            </div>
            <br>
        </div>
    </div>
            
        </div>
   
<!--
<div style="background: linear-gradient(45deg,  hsla(0, 0%, 100%, 1) 20%, rgba(128, 241, 193, 0.548) 100%);">
    <br>
    <br>
    <br>
    <div class="row justify-content-center ">
        
        <div class="col">
            <div  *ngFor="let lb of blogs" class="d-flex main justify-content-center align-items-center" style="background: transparent">
                <section class="blog_area  section-padding " >
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="card blog_left_sidebar media blog-media">
                                    <article class="blog_item">
                                        <br><br>
                                        <div class="blog_item_img imagen">
                                            <img class="d-flex card-img rounded-0" [src]="directorioImagenes+lb.image"
                                                alt="">
                                        </div>
                                        <div class="card-body blog_details bg">
                                            <a class="d-inline-block">
                                                <h2>{{lb.title}}</h2>
                                            </a>
                                            <p>{{lb.description}}</p>
                                        </div>
                                    </article>
                                    <br><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            
        </div>

    </div>
    <br>
    <br>
    <br>
</div>-->




