<br><br>
<br><br>
<br><br>
<section class="page-section bg"
    style="padding:5rem; background: linear-gradient(90deg, #f5ab5d  0%, #FDFFB6 100% 0%, #ffff00 100%);">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-black mt-0 font-weight-bold">GALERÍA</h2>
                <hr class="divider light my-4" />
                <!-- <p class="text-white-50 mb-10">Revisa nuestro blog</p> -->
            </div>
        </div>
    </div>
</section>

<div style="background: linear-gradient(45deg,  #ffff00 20%, #FDFFB6 100%);">
    <div class="tile text-center" *ngIf="album">
        {{album}}
   <div class="container">
            <div class="group-2">
                <img *ngFor="let img of imaganesAlbum; let i = index" [src]="img.image"
                    (click)="showLightbox(i)" />
            </div>
            <ng-image-fullscreen-view class="contenedor" [images]="imaganesAlbum" [imageIndex]="currentIndex"
                [show]="showFlag" (close)="closeEventHandler()"></ng-image-fullscreen-view>
        </div>
    </div>
</div>
<br><br>
<br><br>

<!-- <div *ngFor="let img of imaganesAlbum; let i = index">
    <img alt="Card" [src]="directorioImagenes+img.name">
</div> -->
