@import url('https://fonts.googleapis.com/css?family=Montserrat:600|Open+Sans:600&display=swap');
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.sidebar{
  position: fixed;
  width: 240px;
  left: -240px;
  height: 74%;
  background: #fcd27b; /*barra izquierda admin */
  transition: all .5s ease;
}

.sidebar a{
  display: block;
  height: 100%;
  width: 100%;
  color: rgb(255, 255, 255); /* color fuente barra izquierda admin */
  line-height: 50px;
  padding-left: 0px;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  transition: all .5s ease;
}
a.active,a:hover{
  border-left: 1.5px solid #ffffff; /*lineas de cada opcion barra izquierda admin */
  color: #ffffff;
}
.sidebar a i{
  font-size: 20px;
  margin-right: 16px;
}
.sidebar a span{
  letter-spacing: 1px;
  text-transform: uppercase;
}
#check{
  display: none;
}
label #btn,label #cancel{
  position: absolute;
  cursor: pointer;
  color: rgb(248, 248, 248); /*boton de 3 lineas y boton de cierre barra izquierda admin */
  border-radius: 5px;
  border: 1px solid rgb(207, 207, 207); /*borde de boton de 3 lineas y boton de cierre barra izquierda admin */
  margin: 15px 30px;
  font-size: 29px;
  background: #fcd27b; /*fondo de boton de 3 lineas y boton de cierre barra izquierda admin */
  height: 45px;
  width: 45px;
  text-align: center;
  line-height: 45px;
  transition: all .5s ease;
}
label #cancel{
  opacity: 0;
  visibility: hidden;
}
#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #btn{
  margin-left: 245px;
  opacity: 0;
  visibility: hidden;
}
#check:checked ~ label #cancel{
  margin-left: 245px;
  opacity: 1;
  visibility: visible;
}
@media(max-width : 860px){
  .sidebar{
    height: auto;
    width: 70px;
    left: 0;
    margin: 100px 0;
  }
  header,#btn,#cancel{
    display: none;
  }
  
  .sidebar a{
    height: 60px;
  }
  .sidebar a i{
    margin-left: -10px;
  }
  a:hover {
    width: 200px;
    background: inherit;
  }
  .sidebar a:hover span{
    opacity: 1;
    visibility: visible;
  }
}
/* Don't Forget to Subscribe our Channel[CodingNepal] */
