<section class="page-section bg"
    style="padding:5rem; background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);">
    <div class="container">
        <br><br>
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0 font-weight-bold"></h2>
            </div>
        </div>
    </div>
</section>

<div style="background: linear-gradient(45deg,  hsla(0, 0%, 100%, 1) 20%, rgba(255, 255, 255, 0.548) 100%);">
    <!-- <div class="margen"> -->
    <br>
    <br>
    <div class="container px-4 px-lg-5">
        <!-- Heading Row-->
        <div class="row gx-4 gx-lg-5 align-items-center my-5">
            <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="./assets/img/voluntarios.jpg" alt="..." /></div>
            <div class="col-lg-5">
                <h1 class="font-weight-light">Forma parte de nuestro club!</h1>
                <p>Estas a punto de unirte a una comunidad, la cual esta enfocada en la ayuda a los niños, niñas
                 y adolescentes que lo necesiten, al unirte a la comunidad de Semillas de esperanza mejoras la 
                 calidad de vida y aportas con un granito de arena a brindar un futuro mejor a las personas que más lo necesitan.</p>
            </div>
        </div>
        <!-- Call to Action-->
        <div class="card bg-success my-5 py-4 text-center" style="font-size: 960px; font-weight: bolder;">
            <div class="card-body"><p class="card-text" style="font-size: 20px; font-weight: bolder;">Para unirte a nuestro club solo tienes que cumplir estos requisitos:</p></div>
        </div>
        <!-- Content Row-->
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">Ser participativo</h2>
                        <p class="card-text">Al unirte a Semillas de esperanza deseamos de todo corazón que en las actividades 
                            que realice la fundación, tu seas un miembro importante y cada ayuda nos beneficia a crecer y brindar
                             un mejor futuro a nuestros niños.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">Ganas de ayudar</h2>
                        <p class="card-text">En Semillas de esperanza necesitamos personas dispuestas a colaborar, a que brinden su 
                            ayuda, que demuestren que tengan esa chispa que alumbra a las personas, si tu eres una de esas personas 
                            nos serás de gran ayuda dentro de la fundación.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">Buena voluntad</h2>
                        <p class="card-text">Con el solo hecho de querer participar en el club de amigos de nuestra fundación ya 
                            demuestras un gran corazón, el cual hace que dentro de semillas de esperanza nos emocione poder brindar 
                            un mejor futuro a nuestros niños.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card text-white bg-secondary my-5 py-4 text-center">
            <div class="card-body"><p class="text-white m-0">Si estas dispuesto a unirte, solo da clic en el botón y se parte de esta maravillosa familia.</p>
                <br>
                <button pTooltip="Aquí puedes formar parte de nuestro Club de Amigos" tooltipPosition="right" pButton pRipple
                type="button" (click)="modalCrear()" label="Inscribete" class="p-button-rounded p-button-help"></button>
            </div>
        </div>
    </div>
    <br>
    <br>
</div>

<!-- Modal Crear Club -->
<p-dialog header="Crear Club de Amigos" [(visible)]="displayResponsiveCrear" [breakpoints]="{'960px': '75vw'}"
    [style]="{width: '50vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false" [modal]="true">
    <form [formGroup]="registerClub">
        <div class="form-row">
            <div class="form-group col-md-6 col-lg-6">
                <label for="name">Nombre</label>
                <input type="text" formControlName="name" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted &amp;&amp; registerClub.controls.name.errors }" />
                <div *ngIf="submitted &amp;&amp; registerClub.controls.name.errors" class="text-danger">
                    <div *ngIf="registerClub.controls.name.errors.required">Nombre es requerido</div>
                </div>
            </div>
            <div class="form-group col-md-6 col-lg-6">
                <label for="surname">Apellido</label>
                <input type="text" formControlName="surname" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted &amp;&amp; registerClub.controls.surname.errors }" />
                <div *ngIf="submitted &amp;&amp; registerClub.controls.surname.errors" class="text-danger">
                    <div *ngIf="registerClub.controls.surname.errors.required">Apellido es obligatorio</div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6 col-lg-6">
                <label for="CI">Cédula</label>
                <input type="number" formControlName="CI" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted &amp;&amp; registerClub.controls.CI.errors }" />
                <div *ngIf="submitted &amp;&amp; registerClub.controls.CI.errors" class="text-danger">
                    <div *ngIf="registerClub.controls.CI.errors.required">Cédula es requerido</div>
                </div>
            </div>
            <div class="form-group col-md-6 col-lg-6">
                <label for="address">Dirección</label>
                <input type="text" formControlName="address" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted &amp;&amp; registerClub.controls.address.errors }" />
                <div *ngIf="submitted &amp;&amp; registerClub.controls.address.errors" class="text-danger">
                    <div *ngIf="registerClub.controls.address.errors.required">La dirección es requerido</div>
                </div>
            </div>
        </div>

        <!-- <div class="form-group">
      <label for="event">Evento</label>
      <select formControlName="event" class="form-control">
        <option *ngFor="let v of eventos" value="{{v.id}}">{{v.name}}</option>
      </select>
    </div> -->

        <div class="form-row">
            <div class="form-group col-md-6 col-lg-6">
                <label for="availability">Disponibilidad</label>
                <input type="text" formControlName="availability" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted &amp;&amp; registerClub.controls.availability.errors }" />
                <div *ngIf="submitted &amp;&amp; registerClub.controls.availability.errors" class="text-danger">
                    <div *ngIf="registerClub.controls.availability.errors.required">Disponibilidad requerido</div>
                </div>
            </div>
            <div class="form-group col-md-6 col-lg-6">
                <label for="telefonNumber">Número Telefónico</label>
                <input type="number" formControlName="telefonNumber" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted &amp;&amp; registerClub.controls.telefonNumber.errors }" />
                <div *ngIf="submitted &amp;&amp; registerClub.controls.telefonNumber.errors" class="text-danger">
                    <div *ngIf="registerClub.controls.telefonNumber.errors.required">Número de teléfono requerido</div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="description">Descripción</label>
            <input type="text" formControlName="description" class="form-control"
                [ngClass]="{ 'is-invalid': submitted &amp;&amp; registerClub.controls.description.errors }" />
            <div *ngIf="submitted &amp;&amp; registerClub.controls.description.errors" class="text-danger">
                <div *ngIf="registerClub.controls.description.errors.required">La Descripción es requerida
                </div>
            </div>
        </div>
        <div class="centro">
            <button class="btn btn-primary" (click)="crearClub()">Crear</button>

        </div>

    </form>
</p-dialog>


<ng-template pTemplate="footer">
    <button (click)="displayResponsiveCrear=false" pButton pRipple type="button" label="Enviar"
        class="p-button-rounded  p-button-warning"></button>
</ng-template>