<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<p-confirmDialog [style]="{ width: '50vw' }" appendToBody="true"></p-confirmDialog>
<div class="card">
    <div class="card-body">
        <h3 class="card-title" style="text-align: center;">Administrador de Álbumes</h3>
        <label for="file-upload" class="custom-file-upload">
            <i class="fa fa-cloud-upload"></i> Cargar Imágenes
        </label>
        <input id="file-upload" type="file" (change)="foto($event)" multiple />
        <br><br>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Imagen</th>
                    <th scope="col">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let alb of imagenes| paginate: { itemsPerPage: 5, currentPage: p }; index as i">
                    <th scope="row">{{alb.id}}</th>
                    <td><img class="imagen"[src]="alb.image" alt="Error al cargar imagen"></td>
                    <td>
                        <button type="button" class="btn btn-outline-danger" (click)="deleteImage(alb.id)"
                            pTooltip="Eliminar" tooltipPosition="top">
                            <mat-icon style="color:rgb(206, 22, 22)">delete</mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- Paginador -->
             <pagination-controls (pageChange)="p = $event"></pagination-controls>

    </div>
</div>
