<footer class="footer">
    <div class="container bottom_border">
        <div class="row">
            <div id="logo-footer" class=" col-sm-6 col-md col-sm-6 col-12 col">
                <img src="../../../assets/img/Fundación.png" alt="">
            </div>

            <!--<div class=" col-sm-6 col-md col-sm-6 col-12 col">
                <h5 class="headin5_amrc col_white_amrc pt2">FUNDACIÓN SEMILLAS DE ESPERANZA</h5>
                <p>Desde su creación la Fundación Semillas de Esperanza ha venido desarrollando y trabajando en proyectos para erradicar el trabajo infantil, soporte académico y acción social, teniendo como beneficiarios prioritarios a niños de comunidades indígenas.</p>
            </div>-->

            <div class=" col-sm-6 col-md col-sm-6 col-12 col">
                <h5 class="headin5_amrc col_white_amrc pt2"><b>CONTÁCTANOS</b></h5>
                <h3>
                    <p><i class="fa fa-phone"></i><b> CELULAR:</b><br> +593 99 839 1982</p>
                </h3>
                <h3>
                    <p><i class="fa fa fa-envelope"></i><b> CORREO:</b><br>fundacionsemillas.ec@hotmail.com</p>
                </h3>
                <h1>
                    <p><i class="fa fa-location-arrow"></i><b>DIRECCIÓN:</b><br> Haití Nro.OE8-51 y Bombona<br> Quito-Ecuador</p>
                </h1>
            </div>

            <div class=" col-sm-6 col-md col-sm-6 col-12 col">
                <h5 class="headin5_amrc col_white_amrc pt2"><b>UBÍCANOS</b></h5>
                <div class="map-responsive">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d736.5284754686367!2d-78.51126722929848!3d-0.21102851076404822!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d59a2fdf93c451%3A0x58e5eb170c5a095f!2sOE8-51%2C%20Haiti%2C%20Quito%20170402!5e0!3m2!1ses-419!2sec!4v1618492707142!5m2!1ses-419!2sec"
                        width="400" height="150" frameborder="0" style="border:0" allowfullscreen
                        loading="lazy"></iframe>
                </div>
            </div>

            <div class=" col-sm-6 col-md col-sm-6 col-12 col">
                <h5 class="headin5_amrc col_white_amrc pt2"><b>NUESTRAS<br> REDES SOCIALES</b></h5>
                <div class="social_footer_ul" id="social_footer_ul">
                    <a href="https://www.facebook.com/fundacionsemillasEc/" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-facebook"></i> Facebook</a><br>
                    <a href="https://www.instagram.com/fundacionsemillas_ec/" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-instagram"></i> Instagram</a><br>
                    <a href="https://wa.link/lulyvj" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-whatsapp"></i> whatsapp</a>
                </div>
            </div>
            <!-- <div class=" col-sm-4 col-md col-sm-4 col-12 col">
                <h5 class="headin5_amrc col_white_amrc pt2">ESCRÍBENOS</h5>
                <form>
                    <fieldset class="form-group">
                        <input type="email" class="form-control" id="exampleInputEmail1"
                            placeholder="Ingresa tu Correo">
                    </fieldset>
                    <fieldset class="form-group">
                        <textarea class="form-control" id="exampleMessage" placeholder="Ingresa tu Mensaje"></textarea>
                    </fieldset>
                    <fieldset class="form-group text-xs-right">
                        <button type="button" class="btn btn-secondary-outline btn-lg">Enviar</button>
                    </fieldset>
                </form>
            </div> -->
        </div>
    </div>

    <div class="container">
        <br><br><p class="text-center">Copyright {{date}} | Diseñado por <a href="https://yavirac.edu.ec/">Instituto Superior Tecnológico Yavirac</a></p>
    </div>
</footer>