<div class="card border-primary mb-3">
  <div class="card-header">Zonas</div>
  <div class="card-body text-primary">
<div class="my-2 text-left">
  <div class="btn-group">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
      Crear Zona
    </button>
  </div>
</div>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Zona</th>
          <th>Editar</th>
          <th>Eliminar</th>
        </tr>
      </thead>
      
      <tbody>
        <!-- <tr *ngFor="let equipo of equipos"> -->
          <td>1</td>
          <td>El Recreo </td>
          <td>
            <button type="button" name="editar"  class="btn btn-primary btn-sm">Editar</button>
          </td>
          <td>
            <button type="button" name="eliminar" class="btn btn-danger btn-sm">Eliminar</button>
          </td>
        <!-- </tr> -->
      </tbody>
      <tbody>
        <!-- <tr *ngFor="let equipo of equipos"> -->
          <td>2</td>
          <td>La Armenia </td>
          <td>
            <button type="button" name="editar"  class="btn btn-primary btn-sm">Editar</button>
          </td>
          <td>
            <button type="button" name="eliminar" class="btn btn-danger btn-sm">Eliminar</button>
          </td>
        <!-- </tr> -->
      </tbody>
    </table>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Zonas</h5>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">Nombre</label>
              <input type="text" class="form-control" id="nombre" placeholder="Nombre">
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4">Apellido</label>
              <input type="text" class="form-control" id="apellido" placeholder="Apellido">
            </div>
          </div>
          <div class="form-group">
            <label for="inputAddress">Fecha</label>
            <input type="date" class="form-control" id="fecha" placeholder="Feha">
          </div>
          <div class="form-group">
            <label for="inputAddress2">Zona</label>
            <input type="text" class="form-control" id="zona" placeholder="Zona">
          </div>  
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>